<!-- views/create_profile.ejs -->
<%-include('../layouts/header') %>
<div class="product-add-form">
    <h1>Create Profile</h1>
    <form action="/profile" method="POST" enctype="multipart/form-data">
        <input type="text" name="name" placeholder="Name" required>
        <input type="file" name="image" placeholder="Select an Image" required>
        <textarea name="bio" placeholder="Bio" required></textarea>
        <input type="text" name="location" placeholder="Location" required>
        <input type="text" name="user" placeholder="User" required value="<%= username %>">
        <button type="submit">Create Profile</button>
    </form>
</div>
<%-include('../layouts/footer') %>
