<%- include('layouts/header') %>
<header>
    <div class="navbar">
        <% if (username)  { %>
        <div class="logo"><a href="/">Welcome, <%= username %> </a></div>
        <% } else { %>
        <div class="logo"><a href="/">Welcome </a></div>
        <% } %>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/cart/products">All Products</a></li>
                <li><a href="/cart">Your Cart</a></li>
                <li><a href="/products/addProduct">Add Product</a></li>
                <% if (username) { %>
                    <li><a href="/logout">Logout</a></li>
                <% } else { %>
                    <li><a href="/auth/login">Login</a></li>
                    <li><a href="/auth/register">Register</a></li>
                <% } %>
            </ul>
        </nav>
    </div>
</header>

