body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: cadetblue;
    
}

header {
    background: #63ee1e;
    padding: 20px 0;
    position: sticky;
    top: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
}

.navbar .logo a{
    text-decoration: none;
    text-transform: capitalize;
}

.navbar nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar nav ul li a {
    text-decoration: none;
    text-transform: capitalize;
    color: #333;
    font-weight: 500;
}
footer{
    width: 100%;
    height: 4rem;
    position: fixed;
    background-color: #333;
    margin-top: 3rem;
    padding: 10px;

}
footer p{
    text-align: center;
    padding: 10px;
    color: bisque;
}

/* Registration */

/* Basic styles for the form */
.register-form {
    max-width: 400px;
    margin: 10px auto;
    padding: 1em;
    background: #f9f9f9;
    border-radius: 5px;
}

h1 {
    text-align: center;
    color: #ba55d3;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    background-color: #ba55d3;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #a450bd;
}

.register-form form button{
    margin-left: 6rem;
    padding: .5rem 5rem;
}
.register-form form button:hover{
    background-color: #31d831;
}

a:hover {
    text-decoration: underline;
}

/* Responsive styles */
@media (max-width: 600px) {
    form {
        padding: 10px;
    }

    input[type="text"], input[type="email"], input[type="password"] {
        padding: 8px;
    }

    input[type="submit"] {
        padding: 12px 20px;
    }
}

/* Login form */

/* Basic styles for the form */
.login-form {
    max-width: 400px;
    margin: 10px auto;
    padding: 1em;
    background: #f9f9f9;
    border-radius: 5px;
}

h1 {
    text-align: center;
    color: #ba55d3;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    background-color: #ba55d3;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #a450bd;
}

.login-form form button{
    margin-left: 6rem;
    padding: .5rem 5rem;
}
.login-form form button:hover{
    background-color: #31d831;
}

a:hover {
    text-decoration: underline;
}

/* Responsive styles */
@media (max-width: 600px) {
    form {
        padding: 10px;
    }

    input[type="text"], input[type="email"], input[type="password"] {
        padding: 8px;
    }

    input[type="submit"] {
        padding: 12px 20px;
    }
}

/* Home page */


/* Style for the products container */

h1{
    display: flex;
    justify-content: center;
    text-align: center;
    color: #1f0fb1;
}
p a{
    color: #333;
}
.products {
    display: flex;
    flex-wrap: wrap; 
    gap: 10px;
    padding-left: 14px;
    padding-bottom: 1.5rem;
}

.product {
    flex: 1 0 calc(30% - 25px); 
    max-width: calc(30% - 135px); 
    border: 1px solid #ccc; 
    padding: 10px; 
    box-sizing: border-box; 
    box-shadow: 0 0 10px rgb(162, 27, 220),0 4px 6px rgba(42, 180, 84, 0.868),0 10px 20px rgb(110, 229, 41);
}


.product .image img {
    max-width: 100%; 
}


.product-info {
    padding: 0 5px 0 5px; 
}
.product-info p{
    margin: 0;
}

.buttons {
    display: flex;
    gap: 50px;
}
.buttons button{
    cursor: pointer;
    border: none;
    background: none;
}

.product-form{
    padding: auto;
    margin: auto;
    left: 50%;
    top: 50%;
    border: 1px solid yellow;
}
/* add product */
.product-add-form {
    max-width: 400px;
    margin: 10px auto;
    padding: 1em;
    background: #f9f9f9;
    border-radius: 5px;
}


input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    background-color: #ba55d3;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #a450bd;
}

.product-add-form form button{
    margin-left: 6rem;
    padding: .5rem 5rem;
}
.product-add-form form button:hover{
    background-color: #31d831;
}

a:hover {
    text-decoration: underline;
}

/* Responsive styles */
@media (max-width: 600px) {
    form {
        padding: 10px;
    }

    input[type="text"], input[type="file"] {
        padding: 8px;
    }

    input[type="submit"] {
        padding: 12px 20px;
    }
}

/* Cart  */

main .cart-products {
    margin-top: 20px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-left: 14px;
    padding-bottom: 1.5rem;
}

.product-item {
    flex: 1 0 calc(30% - 25px); 
    max-width: calc(30% - 135px); 
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
img{
    width: 15rem;
    height: 8rem;
    object-fit: fill;
}

.product-item h2 {
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.product-item p {
    margin-bottom: 5px;
}

.product-item form {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    height: 25px;
}

.product-item form button {
    cursor: pointer;
    padding: 4px 12px;
    background-color: #3fb12e;
    color: #fff;
    border: none;
    border-radius: 3px;
}

.product-item form button:hover {
    background-color: #0056b3;
}
/* Profiles */

.profile {
    border: 1px solid #ddd; 
    border-radius: 8px;    
    padding: 1rem 0 0 0rem;       
    margin-bottom: 16px;   
    background-color: #f9f9f9; 
    max-width: 600px;      
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    margin-left: 21rem;
}
.profile .image {
    text-align: center; 
    margin-bottom: 12px; 
}

.profile .image img {
    width: 100px;         
    height: 100px;        
    border-radius: 50%;   
    object-fit: cover;    
}

.profile-info {
    line-height: 1.6;
    margin-left: 16rem; 
}

.profile-info p {
    margin: 4px 0;     
    color: #333;       
}

.profile-info p:first-child {
    font-weight: bold; 
}


.profile hr {
    border: 0;
    border-top: 1px solid #ddd; 
    margin: 12px 0; 
}

.profile-buttons {
    display: flex;
    gap: 8rem;
    margin-left: 14rem;
}
.profile-buttons button{
    cursor: pointer;
    border: none;
    background: none;
}
