body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: #63ee1e;
    padding: 20px 0;
    position: sticky;
    top: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
}

.navbar .logo a{
    text-decoration: none;
    text-transform: capitalize;
}

.navbar nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar nav ul li a {
    text-decoration: none;
    text-transform: capitalize;
    color: #333;
    font-weight: 500;
}

/* Registration */

/* Basic styles for the form */
.register-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 1em;
    background: #f9f9f9;
    border-radius: 5px;
}

h1 {
    text-align: center;
    color: #ba55d3;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    background-color: #ba55d3;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #a450bd;
}

.register-form form button{
    margin-left: 6rem;
    padding: .5rem 5rem;
}
.register-form form button:hover{
    background-color: #31d831;
}
a {
    color: #ba55d3;
    text-decoration: none;
    display: block;
    text-align: center;
    margin-top: 20px;
}

a:hover {
    text-decoration: underline;
}

/* Responsive styles */
@media (max-width: 600px) {
    form {
        padding: 10px;
    }

    input[type="text"], input[type="email"], input[type="password"] {
        padding: 8px;
    }

    input[type="submit"] {
        padding: 12px 20px;
    }
}

/* Login form */

/* Basic styles for the form */
.login-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 1em;
    background: #f9f9f9;
    border-radius: 5px;
}

h1 {
    text-align: center;
    color: #ba55d3;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    background-color: #ba55d3;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #a450bd;
}

.login-form form button{
    margin-left: 6rem;
    padding: .5rem 5rem;
}
.login-form form button:hover{
    background-color: #31d831;
}
a {
    color: #ba55d3;
    text-decoration: none;
    display: block;
    text-align: center;
    margin-top: 20px;
}

a:hover {
    text-decoration: underline;
}

/* Responsive styles */
@media (max-width: 600px) {
    form {
        padding: 10px;
    }

    input[type="text"], input[type="email"], input[type="password"] {
        padding: 8px;
    }

    input[type="submit"] {
        padding: 12px 20px;
    }
}


/* Style for the products container */

h1 ,h3, p{
    text-align: center;
    color: rgba(161, 35, 192, 0.632);
}
.products {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px;
    padding-left: 14px;
    padding-bottom: 1.5rem;
}

.product {
    flex: 1 0 calc(25% - 20px); 
    max-width: calc(25% - 20px); 
    border: 1px solid #ccc; 
    padding: 10px; 
    box-sizing: border-box;  
    box-shadow: 0 0 10px rgb(162, 27, 220),0 4px 6px rgba(42, 180, 84, 0.868),0 10px 20px rgb(110, 229, 41);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.product:hover {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
    transform: scale(1.1);
  }


.product .image img {
    max-width: 100%; 
}


.product-info {
    padding-left: 10px; 
}

.buttons {
    display: flex;
    gap: 10px;
}

.buttons .form1 {
    margin: 0;
}

.buttons button {
    padding: 5px 15px; 
    background-color: #007bff; 
    color: #fff; 
    border: none; 
    cursor: pointer; 
}
.product-form{
    padding: auto;
    margin: auto;
    left: 50%;
    top: 50%;
    border: 1px solid yellow;
}
/* add product */
.product-add-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 1em;
    background: #f9f9f9;
    border-radius: 5px;
}

h1 {
    text-align: center;
    color: #ba55d3;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    background-color: #ba55d3;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #a450bd;
}

.product-add-form form button{
    margin-left: 6rem;
    padding: .5rem 5rem;
}
.product-add-form form button:hover{
    background-color: #31d831;
}
a {
    color: #ba55d3;
    text-decoration: none;
    display: block;
    text-align: center;
    margin-top: 20px;
}

a:hover {
    text-decoration: underline;
}

/* Responsive styles */
@media (max-width: 600px) {
    form {
        padding: 10px;
    }

    input[type="text"], input[type="file"] {
        padding: 8px;
    }

    input[type="submit"] {
        padding: 12px 20px;
    }
}